main {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 100px;
}
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.logo {
    font-size: 1.5rem;
    font-weight: 500;
}
header nav {
    display: flex;
    gap: 20px;
}

.post-list {
    margin-top: 150px;
}
.post {
    margin-bottom: 40px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 180px;
    border-radius: 12px;
}
.post:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease-in;
}
.post__image {
    width: 30%;
    height: 160px;
}
.post__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.post__content {
    width: 70%;
}
.post__content h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.post__info {
    color: #aaa;
    font-size: 0.7rem;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.post__author {
    font-weight: 600;
}
.post__author:hover {
    text-decoration: underline;
}
.post__summary {
    color: #555;
    font-size: 0.8rem;
    line-height: 1.5;
}

/* LOGIN PAGE */
.login, .register {
    margin-top: 150px;
}
.login-container, .register-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container input, .register-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.login-container button, .register-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

/* POST EDITOR PAGE */
.post-editor {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.post-editor input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.post-editor button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.ql-container.ql-snow {
    min-height: 400px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        margin-top: 10px;
    }
    .post {
        flex-direction: column;
        height: 360px;
    }
    .post__image {
        width: 100%;
    }
    .post__content {
        width: 100%;
    }
}

/* POST DETAIL PAGE */
.post-detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.post-detail-header h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 10px;
}
.post-detail-header p {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
}
.post-detail-header h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.post-detail-header h4 span {
    font-size: 16px;
    font-weight: 300;
}
.post-detail-header a {
    font-size: 14px;
    line-height: 16px;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.post-detail-img {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
}
.post-detail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-detail-content div h1,
.post-detail-content div h2,
.post-detail-content div h3,
.post-detail-content div h4 {
    margin: 14px 0;
}
.post-detail-content div p {
    line-height: 28px;
    margin: 10px 0;
}
.post-detail-not-found {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-detail-not-found h1 {
    font-size: 88px;
}
.post-detail-not-found h4 {
    font-size: 28px;
}
.post-detail-not-found p {
    font-size: 14px;
    font-weight: 300;
}